---
---

@import "{{ site.theme }}";

// Overrides to reduce scrolling for `highlight` code blocks
$overridden-width : 840px;
div.shell {
    display: block;
    width: $overridden-width;
    margin: 0 auto
}
span.banner-fix {
    background: transparent url(../images/download-fallback-bg.png) center top no-repeat;
    display: block;
    height: 19px;
    position: absolute;
    width: $overridden-width;
    top: 19px
}